/******************************************************************
Theme Name: Magazine 
Description: 
Author: Colorlib
Author URI: 
Version: 1.0
Created: 
******************************************************************/
/*------------------------------------------------------------------


-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Table of contents]

1.  Basic Styles
	1.1	Variables
	1.2	Mixins
	1.3	Flexbox
	1.4	Reset
2.  Elements
3.  Menu Style 
4.  Sidebar Style
5.  Archive Style
6.  About Style
7.  Post Type Style
8.  Contact Style
9.  Footer Style

-------------------------------------------------------------------*/

/* =================================== */
/*  Font Family and Colors Styles
/* =================================== */

$primary-font	: 'Poppins', sans-serif;


$primary-color	: blue;
$title-color	: #222222;
$text-color		: #777777;

$white			: #fff;
$offwhite		: #f9f9ff;
$black			: #222;


/*

$primary-font	: 'Poppins', sans-serif;
---------------------------------------------

$primary-color	: blue;
$title-color	: #222222;
$text-color		: #777777;

$white			: #fff;
$offwhite		: #f9f9ff;
$black			: #222;

*/

