.imagem_produto *,
*::after,
*::before {
		padding: 0;
		margin: 0;
		box-sizing: border-box;
}

.imagem_produto ::-webkit-input-placeholder {
    opacity: 0.8;
    color: black;
}

.imagem_produto ::-moz-placeholder {
    opacity: 0.8;
    color: black;
}

.imagem_produto :-moz-placeholder {
    opacity: 0.8;
    color: black;
}

.imagem_produto :-ms-input-placeholder {
    opacity: 0.8;
    color: black;
}

imagem_produto {
		font-size: 20px;
		line-height: 1.4;
		color: rgba(255,255,255,0.8);
		background: #1d1f20;
}

.imagem_produto .preview {
		display: block;
		width: 300px;
		height: 200px;
		margin: 20px auto;
		box-shadow: 0px 0px 0px 2px #007bff;
		overflow: hidden;
}

.imagem_produto .file-upload-wrapper {
		position: relative;
		z-index: 5;
		display: block;
		width: 250px;
		height: 30px;
		margin: 25px auto;
		border-radius: 0px;
		border-bottom: 1px dashed #007bff;
}

.imagem_produto .file-upload-native,
.file-upload-text {
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 100%;
		cursor: pointer;
		color: black !important;
}

.imagem_produto input[type="file"]::-webkit-file-upload-button {
		cursor: pointer;
}

.imagem_produto .file-upload-native:focus,
.file-upload-text:focus {
		outline: none;
}

.imagem_produto .file-upload-text {
		z-index: 10;
		padding: 5px 15px 8px;
		overflow: hidden;
		font-size: 14px;
		line-height: 1.4;
		cursor: pointer;
		text-align: center;
		letter-spacing: 1px;
		text-overflow: ellipsis;
		border: 0;
		background-color: transparent;
}

.imagem_produto .file-upload-native {
		z-index: 15;
		opacity: 0;
}