.imgavatar{
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

[type="file"] + label.btn-2:hover {
    background-color: #ffcc00;
    color:black
}

[type="file"] {
  height: 0;
  overflow: hidden;
  width: 0;
}

[type="file"] + label {
  background: blue;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
	font-size: inherit;
  font-weight: 600;
  margin-bottom: 1rem;
  outline: none;
  padding: 0.5rem 10px;
  position: relative;
  transition: all 0.3s;
  vertical-align: middle;
  font-size:15px;
  
  &:hover {
    background-color: darken(#f15d22, 10%) !important;
  }
  
  
  &.btn-2 {
    background-color: #ff9966 !important;
    border-radius: 50px !important;
    overflow: hidden !important;
    
    &::before {
      color: #fff;
      font-size: 100%;
      height: 100%;
      right: 130%;
      line-height: 3.3;
      position: absolute;
      top: 0px;
      transition: all 0.3s;
    }

    &:hover {
      background-color: darken(#99c793, 30%);
        
      &::before {
        right: 75%;
      }
    }
  }
  
}




form button {
  margin-top: 35px;
  background-color: white;
  border: 1px solid #ff4a56;
  line-height: 0;
  font-size: 17px;
  display: inline-block;
  box-sizing: border-box;
  padding: 20px 15px;
  border-radius: 60px;
  color: #ff4a56;
  font-weight: 100;
  letter-spacing: 0.01em;
  position: relative;
  z-index: 1;
}
form button:hover, form button:focus {
  color: white !important;
  background-color: #ff4a56 !important;
}


form .question input[type="text"] , input[type="password"] {
  width: 350px !important;
  appearance: none !important;
  background-color:#ff9933 !important;
  border: 1px solid #ff9933 !important;
  padding: 10px 15px !important;
  border-radius: 60px !important;
  color: black !important;
  letter-spacing: 0.01em !important;
  z-index: 1 !important;
}
form .question input[type="text"]:focus , input[type="password"]:focus {
  outline: none !important;
  background: #ff9933 !important;
  color: white !important;
  font-weight: bold;
}
