.pb-100 {
	padding-bottom: 100px;
}

.section-title {
	margin-bottom: 30px;
	position: relative;
}
.section-title h3 {
	text-transform: uppercase;
	font-weight: 800;
	font-size: 30px;
}


.section-title h3 span {
	display: block;
	font-size: 15px;
	text-transform: lowercase;
	font-weight: 400;
	margin-bottom: 10px;
}
.section-title p {
	margin-top: 5px;
}
.team-hover {
	text-align: center;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	color: #fff;
	visibility: hidden;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	-webkit-transition: .5s;
	transition: .5s
}

.single-team img {
	width: 100%;
}

.team-hover h4 {
	text-transform: capitalize;
	font-size: 20px;
	font-weight: 600;
	color:white;
}

.team-hover h4 span {
	display: block;
	font-size: 13px;
	font-weight: 400;
	margin-top: 5px;
}

.team-hover ul {
	list-style: none;
	margin: 0;
	padding: 0;
	margin-top: 15px;
}

.team-hover ul li {
	display: inline-block;
}

.team-hover ul li {
	background-color: #333;
	width: 30px;
	height: 30px;
	line-height: 30px;
	border-radius: 50%;
	margin: 0 2px;
	text-align: center
}

.team-hover ul li a {
	color: #fff;
	font-size: 18px;
	display: block;
}
.single-team {
	position: relative;
	z-index: 2;
}

.team-content {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
			
}

.team-hover:before {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: #333;
	z-index: -1;
	opacity: .50;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
	color:white;
}

.single-team:hover .team-hover {
	visibility: visible;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	color:white;
}

section.team-area div.teamtext{
	text-align: center;
	padding: 10px;
}
